@page "/"
@implements IDisposable

@inject IDeviceOrientationService DeviceOrientationService
@inject IJSRuntime JSRuntime

<PageTitle>DeviceOrientation - Index</PageTitle>

<h2>Subscribing to changes</h2>

<b>Alpha: </b>
@(deviceOrientation is null ? "no reading" : deviceOrientation.Alpha)
<br />
<b>Beta: </b>
@(deviceOrientation is null ? "no reading" : deviceOrientation.Beta)
<br />
<b>Gamma: </b>
@(deviceOrientation is null ? "no reading" : deviceOrientation.Gamma)


@code {
    private DeviceOrientationEvent? deviceOrientation;

    protected override void OnInitialized()
    {
        DeviceOrientationService.OnDeviceOrientation += HandleNewOrientation;
    }

    public void Dispose()
    {
        DeviceOrientationService.OnDeviceOrientation -= HandleNewOrientation;
    }

    private void HandleNewOrientation(object? _, DeviceOrientationEvent deviceOrientationEvent)
    {
        deviceOrientation = deviceOrientationEvent;
        StateHasChanged();
    }
}