@page "/"
@inject IDeviceOrientationService DeviceOrientationService

<PageTitle>DeviceOrientation - Index</PageTitle>

<h2>Subscribing to changes</h2>

@if (deviceOrientation is null)
{
    <button class="btn btn-primary" @onclick=RequestAccess>Request Access</button>
}
else
{
    <b>Alpha: </b>

    @deviceOrientation?.Alpha
    <br />
    <b>Beta: </b>

    @deviceOrientation?.Beta
    <br />
    <b>Gamma: </b>

    @deviceOrientation?.Gamma
}


@code {
    private DeviceOrientationEvent? deviceOrientation;

    private void RequestAccess()
    {
        DeviceOrientationService.OnDeviceOrientation += HandleNewOrientation;
    }

    private void HandleNewOrientation(object? _, DeviceOrientationEvent deviceOrientationEvent)
    {
        deviceOrientation = deviceOrientationEvent;
        StateHasChanged();
    }
}